# dependencies
node_modules/

# runtime/generated data
uploads/
temp/

# local OCR model file
eng.traineddata

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
